h1{
  font-size: 9vw;
  text-align: center;
  margin-left: 8vw;
  margin-top: 20vw;
  z-index: 3;
  position: absolute;
  margin-bottom: 5000vw;
}
.nsdap_logo{
  width: 700px;
  height: 87,5px;
}
body{
  background-image: url(img/home.jpeg);
  margin: 0;
  padding: 0;
	display: block;
  vertical-align: left;
  overflow: hidden;
}
.home_jpeg{
  z-index: 1;
  align-items: center;
  position: fixed;
  vertical-align: left;
  line-height: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  float: left;
	display: block;
  overflow: hidden;
  margin-bottom: 50vw;
}
.div1{
  position: relative;
  font-size: 0;
  z-index: 1;
  align-items: center;
  vertical-align: left;
  margin: 0;
  padding: 0;
}
